server:
  http:
    addr: 0.0.0.0:8000
    timeout: 1s
  grpc:
    addr: 0.0.0.0:9000
    timeout: 1s
data:
  database:
    driver: postgresql
    source: postgresql://postgres:123456@localhost:5433/resource
  redis:
    addr: 127.0.0.1:6379
    read_timeout: 0.2s
    write_timeout: 0.2s
  rabbitmq:
    url: amqp://guest:guest@localhost:5672/
    queue: greeter.hello
  kubernetes:
    kubeconfig: C:/Users/hp/.kube/config
